* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


nav{
    margin-top: 30px;
}


.list {
    display: flex;
    gap: 50px;
}


.list_iteam {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    /* Основной текст */

    color: #2F3035;
}





















































/* 992 dan 1199 gacha */
@media (max-width: 1199px) {}

/* 768 dan 991 gacha */
@media (max-width: 991px) {}

/* 576 dan 767 gacha */
@media (max-width: 767px) {}

/* 0 dan 575 gacha */
@media (max-width: 575px) {}